langchain
langchain_community
beautifulsoup4
fastapi
langserve
uvicorn
sse_starlette
streamlit
huggingface-hub
ipywidgets

# llamacpp with metal backend support
# CMAKE_ARGS="-DGGML_METAL=on" pip install llama-cpp-python